<html>
    <head>
        <title>Casino - ClimbToVictory</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/climbtovictory.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('../header'); %>
        
        <div id="wrapper">
            <h1>ClimbToVictory</h1>
            <h4>Instructions:</h4>
            <p>
                Choose the amount of money to bet (the money will be automatically removed 
                from your balance), play the game, 
                end the game whenever you want and get your money back.
            </p>
            <div id="bet-amount">
                <div><label for="bet-amount-input">Bet amount:</label></div><div><input type="number" value="0.20" step="0.01" min="0.20" id="bet-amount-input"> €</div>
                <% if (!inGame) { %>
                    <div id="bet-button" class="button">Play</div>
                <% } else { %>
                    <div id="bet-button" class="button disabled">Play</div>
                <% } %>

                <% if(level > 1) { %>
                    <div class="button" id="winnings"><a href="/games/climbtovictory/end">Take winnings (<%= winnings %>)</a></div>
                <% } %>
            </div>

            <% if (inGame) { %>
                <table id="game">
                    <% for (i = 10; i >= 1; i--) { %>
                        <% if (level == i) { %>
                            <tr class="current-level">
                        <% } else if (level > i) { %>
                            <tr class="previous-level">
                        <% } else { %>
                            <tr>
                        <% } %>
                            <td class="game-odd"><%- Math.pow(1.25, i).toFixed(2) %></td>
                            <% for (j = 0; j < 5; j++) { %>
                                <td><%- (level > i) ? "X" : "?" %></td>
                            <% } %>
                        </tr>
                    <% } %>
                </table>
            <% } else { %>
                <p>The game has not yet been started.</p>
            <% } %>
        </div>

        <%- include('../footer'); %>
    </body>

    <script src="/scripts/main.js"></script>
    <script src="/scripts/Casino.js"></script>
    <script src="/scripts/ClimbToVictory.js"></script>
</html>